PROJECT_NAME=road_book

NODE_ENV=production
APP_PORT=3000
APP_EXTERNAL_PORT=3000

MYSQL_PORT=3306
MYSQL_DATABASE=road_book
MYSQL_USER=road_book
MYSQL_PASSWORD=change_me
MYSQL_ROOT_PASSWORD=change_me_root
DATABASE_URL=mysql://road_book:change_me@mysql:3306road_book

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=change_me
REDIS_URL=redis://:change_me@redis:6379

S3_REGION=eu-north-1
S3_BUCKET=road-book-production
S3_ENDPOINT=
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_FORCE_PATH_STYLE=false

JWT_ACCESS_SECRET=change_me
JWT_REFRESH_SECRET=change_me
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

FRONTEND_URL=https://example.com
GEOCODING_API_KEY=add_key